doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="keywords" content="keywords")
        meta(name="description" content="description")

        title= `HTML Form » ${htmlWebpackPlugin.options.title}`
        
        link(rel="icon" type="image/png" sizes="32x32" href="../../img/favicon.png")
        link(rel="icon" type="image/png" sizes="96x96" href="../../img/favicon.png")
        link(rel="icon" type="image/png" sizes="16x16" href="../../img/favicon.png")

        link(rel="stylesheet" href="css/style.css")

    body
        .wrapper
            block variables
            
            include header

            block wrapper

            include footer
            
        script(src="js/common.js")
        block scripts