mixin renderImg(name)
  img(src=require("../../img/" + name), alt= name)&attributes(attributes)

mixin ion(name)
  i(class="icon ion-" + name)

mixin renderSvg(name, viewBox)
  svg(xmlns="http://www.w3.org/2000/svg" viewBox= viewBox)
    use(xlink:href="../../img/" + name + ".svg#" + name)