@import ../includes/variables
@import ../includes/extensions

.page-content
  max-width: 1000px
  width: calc(100% - 30px)
  min-height: calc(100vh - 60px)
  margin: 30px auto
  padding: 30px
  box-shadow: 0 0 3px 3px rgba($black, .05)
  background-color: $white

.page-title
  font-size: 1rem

.form-section
  border: 1px solid $dark
  margin-bottom: 15px

.section__title
  font-weight: 700
  width: 100%
  background-color: $dark
  color: $white
  padding: 5px 15px

  span
    font-weight: 400

.section-body
  padding: 5px 5px 15px
  display: flex
  flex-wrap: wrap

.form-item
  display: flex
  align-items: flex-end
  margin: 5px 10px
  min-height: 30px

  .item__label
    line-height: 1

  input[type=text], input[type=tel], input[type=time], input[type=date], input[type=datetime-local]
    border: none
    border-bottom: 1px solid $dark
    outline: none
    margin-left: 5px
    flex: 1
    color: $blue
    font-weight: 300
    line-height: 1

.person-name
  flex: 1

.controls-row
  display: flex
  align-items: center
  padding: 0 10px

  .form-item
    margin-top: 0
    margin-bottom: 0
    align-items: center

@media screen and (max-width: 991px)
  .form-item
    width: calc(50% - 20px)

    &.col-65, &.col-100, &.m-c-100
      width: 100%

    &.m-c-100
      flex-wrap: wrap

      input
        width: 100%
        flex: auto
        margin-top: 10px

    &.m-c-40
      width: calc(40% - 20px)
    
    &.m-c-60
      width: calc(60% - 20px)

    &.table-item
      width: 100%

  .sub-section
    width: 100%

  .form-table 
    width: 100%

    .t-col
      &:first-child
        flex: 1
        width: 100%

  .controls-row
    width: 100%

  .checkable-item
    width: auto

  .m-c-flex-1
    flex: 1

  .text-item
    width: 100%

@media screen and (max-width: 500px)
  .page-content
    width: calc(100% - 20px)
    padding: 15px

  .form-section
    .section-body
      padding: 5px 0 15px

  .c-check
    margin: 5px 0
    width: 100%

  .form-item
    width: 100%
    flex-wrap: wrap
    margin-bottom: 15px

    &.m-c-40, &.m-c-60
      width: 100%

    .item__label
      width: 100%
      margin-bottom: 5px

  .controls-row
    flex-wrap: wrap
    margin-top: 10px
    padding: 0

    .row-label
      width: 100%
      padding: 3px 10px
      margin-bottom: 15px
      background-color: $lightGrey

    .form-item
      margin-bottom: 15px

  .form-table 
    font-size: .75rem

    .t-col
      width: 52px

      &:first-child
        flex: auto
        width: 70px