extends ../includes/layout
include ../includes/mixins

block wrapper
  .page-content
    h1.page-title Chain of Custody Form for Onsite Drug & Alcohol Screening

    form
      .form-section
        .section__title Donor Details:

        .section-body
          .form-item.col-65
            .item__label Donor name
            input(type="text")
          .form-item
            .item__label Date of birth
            input(type="date")
          .form-item
            .item__label Driver’s licence #
            input(type="text")
          .form-item
            .item__label 
              strong or 
              | Passport #
            input(type="text")
          .form-item
            .item__label 
              strong or 
              | Company ID
            input(type="text")
          .form-item
            .item__label 
              strong and 
              | supervisor confirmation of identity
            .c-check
              input(type="checkbox" hidden)#supervisor-confirm
              label(for="supervisor-confirm")
                .checkmark
                
      .form-section
        .section__title Employer 
          span / requesting authority

        .section-body
          .form-item
            .item__label Company Name
            input(type="text")
          .form-item
            .item__label Contact
            input(type="text")
          .form-item
            .item__label Phone
            input(type="tel")
          .form-item.col-100
            .item__label Address
            input(type="text")
          .form-item.m-c-100
            .item__label Reason
            .c-check
              input(type="radio" name="reason" hidden)#pre-employment
              label(for="pre-employment")
                .checkmark
                span pre-employment
            .c-check
              input(type="radio" name="reason" hidden)#reasonable-cause
              label(for="reasonable-cause")
                .checkmark
                span reasonable cause
            .c-check
              input(type="radio" name="reason" hidden)#random
              label(for="random")
                .checkmark
                span random
            .c-check
              input(type="radio" name="reason" hidden)#post-incident
              label(for="post-incident")
                .checkmark
                span post-incident
            .c-check
              input(type="radio" name="reason" hidden)#other
              label(for="other")
                .checkmark
                span other

            input(type="text")

      .form-section
        .section__title Medications: 
          span specific name / dosage, and category (cough / cold / allergy, diet / supplement / body-building, herbal / vitamins, painkillers / anti-inflammatories, tranquilisers / sedative, or other)

        .section-body
          .form-item.col-50
            input(type="text")
          .form-item.col-50
            input(type="text")
          .form-item.col-50
            input(type="text")
          .form-item.col-50
            input(type="text")
          .form-item.col-50
            input(type="text")
          .form-item.col-50
            input(type="text")

      .form-section
        .section-body
          .form-item.m-c-40
            .item__label
              strong Specimen
            .c-check
              input(type="radio" name="specimen" hidden)#urine
              label(for="urine")
                .checkmark
                span urine
            .c-check
              input(type="radio" name="specimen" hidden)#saliva
              label(for="saliva")
                .checkmark
                span saliva
          .form-item.m-c-60
            .item__label
              strong temperature read within 4 minutes
            .c-check
              input(type="radio" name="specimen" hidden)#temp-time-yes
              label(for="temp-time-yes")
                .checkmark
                span yes
            .c-check
              input(type="radio" name="specimen" hidden)#temp-time-no
              label(for="temp-time-no")
                .checkmark
                span no
          .form-item.m-c-100
            .item__label
              strong within range 33C – 38C
            .c-check
              input(type="radio" name="specimen" hidden)#temp-range-yes
              label(for="temp-range-yes")
                .checkmark
                span yes
            .c-check
              input(type="radio" name="specimen" hidden)#temp-range-no
              label(for="temp-range-no")
                .checkmark
                span no

          .sub-section
            .form-item.table-item
              .form-table
                .t-row
                  .t-col Specimen Integrity
                  .t-col Pass
                  .t-col Fail
                  .t-col Not tested
                .t-row
                  .t-col Bleach/oxidants
                  .t-col
                    .c-check
                      input(type="radio" name="bleach-oxidants" hidden)#bleach-oxidants-pass
                      label(for="bleach-oxidants-pass")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="bleach-oxidants" hidden)#bleach-oxidants-fail
                      label(for="bleach-oxidants-fail")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="bleach-oxidants" hidden)#bleach-oxidants-not
                      label(for="bleach-oxidants-not")
                        .checkmark
                .t-row
                  .t-col pH
                  .t-col
                    .c-check
                      input(type="radio" name="ph" hidden)#ph-pass
                      label(for="ph-pass")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="ph" hidden)#ph-fail
                      label(for="ph-fail")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="ph" hidden)#ph-not
                      label(for="ph-not")
                        .checkmark
                .t-row
                  .t-col Creatinine
                  .t-col
                    .c-check
                      input(type="radio" name="creatinine" hidden)#creatinine-pass
                      label(for="creatinine-pass")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="creatinine" hidden)#creatinine-fail
                      label(for="creatinine-fail")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="creatinine" hidden)#creatinine-not
                      label(for="creatinine-not")
                        .checkmark
                .t-row
                  .t-col Nitrite
                  .t-col
                    .c-check
                      input(type="radio" name="nitrite" hidden)#nitrite-pass
                      label(for="nitrite-pass")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="nitrite" hidden)#nitrite-fail
                      label(for="nitrite-fail")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="nitrite" hidden)#nitrite-not
                      label(for="nitrite-not")
                        .checkmark
                .t-row
                  .t-col SG
                  .t-col
                    .c-check
                      input(type="radio" name="sg" hidden)#sg-pass
                      label(for="sg-pass")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="sg" hidden)#sg-fail
                      label(for="sg-fail")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="sg" hidden)#sg-not
                      label(for="sg-not")
                        .checkmark
                .t-row
                  .t-col Glut
                  .t-col
                    .c-check
                      input(type="radio" name="glut" hidden)#glut-pass
                      label(for="glut-pass")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="glut" hidden)#glut-fail
                      label(for="glut-fail")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="glut" hidden)#glut-not
                      label(for="glut-not")
                        .checkmark

          .sub-section.c-flex-1
            .form-item.col-100
              .item__label Screening device name
              input(type="text")
            .form-item
              .item__label Batch #
              input(type="text")
            .form-item
              .item__label Expiry date
              input(type="date")

            .controls-row
              .row-label Controls:

              .form-item
                .item__label Positive
                .c-check
                  input(type="radio" name="positive" hidden)#positive-pass
                  label(for="positive-pass")
                    .checkmark
                    span pass
                .c-check
                  input(type="radio" name="positive" hidden)#positive-fail
                  label(for="positive-fail")
                    .checkmark
                    span fail
              .form-item
                .item__label Negative
                .c-check
                  input(type="radio" name="negative" hidden)#negative-pass
                  label(for="negative-pass")
                    .checkmark
                    span pass
                .c-check
                  input(type="radio" name="negative" hidden)#negative-fail
                  label(for="negative-fail")
                    .checkmark
                    span fail

            .form-item.col-100
              .item__label Screening test result
              .c-check
                input(type="radio" name="screening" hidden)#screening-negative
                label(for="screening-negative")
                  .checkmark
                  span negative
              .c-check
                input(type="radio" name="screening" hidden)#screeningno-negative
                label(for="screeningno-negative")
                  .checkmark
                  span not negative, requires further testing
      
      .form-section
        .section-body
          .sub-section
            .form-item.table-item
              .form-table
                .t-row
                  .t-col Results
                  .t-col Negative
                  .t-col Not negative
                .t-row
                  .t-col AMP
                  .t-col
                    .c-check
                      input(type="radio" name="amp" hidden)#amp-negative
                      label(for="amp-negative")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="amp" hidden)#amp-nonnegative
                      label(for="amp-nonnegative")
                        .checkmark
                .t-row
                  .t-col COC
                  .t-col
                    .c-check
                      input(type="radio" name="coc" hidden)#coc-negative
                      label(for="coc-negative")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="coc" hidden)#coc-nonnegative
                      label(for="coc-nonnegative")
                        .checkmark
                .t-row
                  .t-col THC
                  .t-col
                    .c-check
                      input(type="radio" name="thc" hidden)#thc-negative
                      label(for="thc-negative")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="thc" hidden)#thc-nonnegative
                      label(for="thc-nonnegative")
                        .checkmark
                .t-row
                  .t-col OPI/MOP
                  .t-col
                    .c-check
                      input(type="radio" name="opi-mop" hidden)#opi-mop-negative
                      label(for="opi-mop-negative")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="opi-mop" hidden)#opi-mop-nonnegative
                      label(for="opi-mop-nonnegative")
                        .checkmark
                .t-row
                  .t-col BZO
                  .t-col
                    .c-check
                      input(type="radio" name="bzo" hidden)#bzo-negative
                      label(for="bzo-negative")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="bzo" hidden)#bzo-nonnegative
                      label(for="bzo-nonnegative")
                        .checkmark
                .t-row
                  .t-col MET
                  .t-col
                    .c-check
                      input(type="radio" name="met" hidden)#met-negative
                      label(for="met-negative")
                        .checkmark
                  .t-col
                    .c-check
                      input(type="radio" name="met" hidden)#met-nonnegative
                      label(for="met-nonnegative")
                        .checkmark

          .sub-section.c-flex-1
            .form-item.col-100
              .item__label Synthetic cannabis:
              .c-check
                input(type="radio" name="synthetic-cannabis" hidden)#synthetic-cannabis-negative
                label(for="synthetic-cannabis-negative")
                  .checkmark
                  span negative
              .c-check
                input(type="radio" name="synthetic-cannabis" hidden)#synthetic-cannabis-no-negative
                label(for="synthetic-cannabis-no-negative")
                  .checkmark
                  span no negative
              .c-check
                input(type="radio" name="synthetic-cannabis" hidden)#synthetic-cannabis-not-tested
                label(for="synthetic-cannabis-not-tested")
                  .checkmark
                  span not tested

            .form-item
              .item__label Batch #
              input(type="text")
            .form-item
              .item__label Expiry date
              input(type="date")
            .form-item.col-100
              .item__label Expiry date
              input(type="date")
            .form-item
              .item__label Serial #
              input(type="text")
            .form-item
              .item__label Calibration valid to
              input(type="date")

            .controls-row
              .row-label 1
                sup st 
                | test:
              .form-item.m-c-flex-1
                .item__label level
                input(type="text")
              .form-item.m-c-flex-1
                .item__label time
                input(type="time")
              .form-item.checkable-item
                .c-check.no-margin
                  input(type="radio" name="1-level" hidden)#1-level-pass
                  label(for="1-level-pass")
                    .checkmark
                    span pass
              .form-item.checkable-item
                .c-check.no-margin
                  input(type="radio" name="1-level" hidden)#1-level-fail
                  label(for="1-level-fail")
                    .checkmark
                    span fail
            
            .controls-row
              .row-label 2
                sup st 
                | test:
              .form-item.m-c-flex-1
                .item__label level
                input(type="text")
              .form-item.m-c-flex-1
                .item__label time
                input(type="time")
              .form-item.checkable-item
                .c-check.no-margin
                  input(type="radio" name="2-level" hidden)#2-level-pass
                  label(for="2-level-pass")
                    .checkmark
                    span pass
              .form-item.checkable-item
                .c-check.no-margin
                  input(type="radio" name="2-level" hidden)#2-level-fail
                  label(for="2-level-fail")
                    .checkmark
                    span fail

      .form-section
        .section__title Collector certification
        .section-body
          .form-item.text-item
            p I certify that I witnessed the donor’s signature and that the specimen identified on this form was provided to me by the donor whose consent and certification appears above, bears the same identification as above, and that the urine specimen has been collected in accordance with AS/NZS 4308:2008.

          .form-item.col-50
            .item__label Name of collector
            input(type="text")
          .form-item.col-50
            .item__label Collector signature
            input(type="text")
          .form-item
            .item__label Date & time of collection
            input(type="datetime-local")
          .form-item
            .item__label NZQA certified:
            .c-check
              input(type="radio" name="nzqa-certified" hidden)#nzqa-certified-yes
              label(for="nzqa-certified-yes")
                .checkmark
                span yes
            .c-check
              input(type="radio" name="nzqa-certified" hidden)#nzqa-certified-no
              label(for="nzqa-certified-no")
                .checkmark
                span no
      
      .form-section
        .section__title Donor declaration
        .section-body
          .form-item.text-item
            p I certify that the information above is true and correct and that the urine specimen associated with this form is my own and was provided by me to the authorised collector. The testing was carried out correctly in my presence. I consent to my urine or saliva sample being delivered to an appropriate laboratory for more sophisticated analysis should the collector deem it necessary. I consent to the release of relevant details on this form to the nominated representatives(s) of the requesting authority indicated above.

          .form-item.col-50
            .item__label Donor name/ID #
            input(type="text")
          .form-item.col-50
            .item__label Donor signature
            input(type="text")