%side-paddings
  padding-left: 15px
  padding-right: 15px

%img-flex
  max-width: 100%
  max-height: 100%
  width: auto
  height: auto

%bg-cover
  background-size: cover
  background-position: center
  background-repeat: no-repeat

%flex-centered
  display: flex
  align-items: center
  justify-content: center

%vertical-align
  display: flex
  align-items: center

%justify-center
  display: flex
  justify-content: center

%justify-between
  display: flex
  justify-content: space-between

%justify-end
  display: flex
  justify-content: flex-end

%transition025
  transition: all .25s linear