body
  font: 400 .875rem 'Fira Sans', sans-serif
  background-color: $lightGrey
  margin: 0
  padding: 0

.c-check
  display: inline-block
  margin: 0 0 0 10px
  display: flex
  align-items: center

  &.no-margin
    margin: 0

  input[type=checkbox], input[type=radio]
    &:checked  + label
      div
        &:after
          opacity: 1
          visibility: visible

  label
    display: flex
    align-items: center
    margin: 0

    div
      position: relative
      cursor: pointer
      height: 16px
      width: 16px
      background-color: $grey
      display: inline-block

      &:after
        content: ''
        display: block
        width: 10px
        height: 6px
        border-bottom: 1px solid $dark
        border-left: 1px solid $dark
        position: absolute
        top: 50%
        left: 50%
        transform: rotate(-45deg) translate(0%, -115%)
        opacity: 0
        visibility: 0

    span
      display: inline-block
      margin-left: 5px
      line-height: 1

.c-flex-1
  flex: 1

.col-50
  width: calc(50% - 20px)

.col-60
  width: calc(60% - 20px)

.col-65
  width: calc(65% - 20px)

.col-100
  width: 100%

.sub-section
  display: flex
  flex-wrap: wrap
  align-items: flex-start

.form-table
  .t-row
    display: flex

    &:first-child
      background-color: $dark
      color: $white

  .t-col
    width: 65px
    padding: 3px 5px
    border-bottom: 1px solid $dark
    border-right: 1px solid $dark
    display: flex
    align-items: center
    justify-content: center
    line-height: 1.1
    text-align: center

    &:first-child
      width: 120px
      justify-content: flex-start
      text-align: left
      border-left: 1px solid $dark

  .c-check
    margin: 0 auto